body {
    background-color: #cececc;
}

#title {
    text-align: center;
    color: #55120b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.credit {
    text-align: center;
    font-size: small;
}

a {
    display: block;

}

.recipes {

    font-size: large;
}

a { 
    color: #454e2b;
}